
  <form class="create-subscriber" action="/api/subscribers" method="post">
    <input type="text" name="subscriber[name]" placeholder="name">
    <input class='email-input'type="text" name="subscriber[email]" placeholder="email">
    <input type="submit">
  </form>

<div id="all-subscribers">

</div>
